@model Message
@{
    ViewData["Title"] = "NewMessage";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}


@if (ViewBag.Success != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: '@ViewBag.Success!',
           
            showConfirmButton: true
           
        });
    </script>
}
<div class="email-right-box">
    <div class="toolbar" role="toolbar">
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light">
                <i class="fa fa-archive"></i>
            </button>
            <button type="button" class="btn btn-light">
                <i class="fa fa-exclamation-circle"></i>
            </button>
            <button type="button" class="btn btn-light">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-folder"></i>  <b class="caret m-l-5"></b>
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">Move to</span>  <a class="dropdown-item" href="javascript: void(0);">Social</a>  <a class="dropdown-item" href="javascript: void(0);">Promotions</a>  <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
            </div>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-tag"></i>  <b class="caret m-l-5"></b>
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">Label as:</span>  <a class="dropdown-item" href="javascript: void(0);">Updates</a>  <a class="dropdown-item" href="javascript: void(0);">Social</a>  <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
            </div>
        </div>
        <div class="btn-group m-b-20">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                More <span class="caret m-l-5"></span>
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">More Option :</span>  <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>  <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>  <a class="dropdown-item"
                                                                                                                                                                                                                       href="javascript: void(0);">Add Star</a>  <a class="dropdown-item" href="javascript: void(0);">Mute</a>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="compose-content mt-5">

            <div class="form-group">
                <input type="text" asp-for="ReceiverEmail" class="form-control bg-transparent" placeholder="  Mail Adresi">
            </div>
            <div class="form-group">
                <input type="text" asp-for="ReceiverName" class="form-control bg-transparent" placeholder="  Adı Soyadı">
            </div>
            <div class="form-group">
                <input type="text" asp-for="Subject" class="form-control bg-transparent" placeholder=" Konu">
            </div>
            <div class="form-group">
                <textarea class="textarea_editor form-control bg-light" asp-for="MessageDetail" rows="15" placeholder="Mesaj Detayı"></textarea>
            </div>
            <button class="btn btn-outline-success">Gönder</button>
        </div>


    </form>

</div>

