<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="~/quixlab-master/images/favicon.png">
	<!-- Custom Stylesheet -->
	<link href="~/quixlab-master/css/style.css" rel="stylesheet">

	<style>
		.header {
			margin-left: 0 !important;
			width: 100% !important;
		}

		.header-left {
			margin-left: 0 !important;
		}

		.header-content {
			margin-left: 0 !important;
		}
	</style>

</head>